body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    text-shadow:
    2px 2px 0 #000,
    4px 4px 8px rgba(0, 0, 0, 0.7);
    font-size: 28px;
    color: rgba(238, 138, 45, 0.979);
    background-image: url("img/5_background/browser-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* optional */
}

canvas {
    background-color: black;
    display: block;
}

@font-face {
    font-family: 'zabras';
    src:url('img/10_font/zabars.ttf') format('woff'), /* Modern Browsers */
    url('img/10_font/zabars.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@media only screen and (min-width: 720px) {
    .mobile-button-flexbox {
        display: none;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .mobile-button-flexbox {
        display: flex;
        width: 100%;
        justify-content: space-between;

    }

    .mobile-button-div-move-left-right {
        display: flex;
        gap: 16px;
    }

    .mobile-button-div-jump-throw {
        display: flex;
        gap: 16px;
    }

    .control-panel {
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: all;
        line-height: 1;
        padding: 0;
        width: 62px;
        height: 62px;

        border: none;
        border-radius: 50%;

        background: rgba(255, 170, 0, 0.85);
        color: white;

        font-size: 32px;
        font-weight: bold;

        cursor: pointer;
        user-select: none;

        box-shadow:
            0 8px 16px rgba(0,0,0,.35),
            inset 0 2px 3px rgba(255,255,255,.4),
            inset 0 -4px 8px rgba(0,0,0,.25);

        transition: transform .1s, box-shadow .1s;
    }

    .control-btn:active {
        transform: scale(.92);

        box-shadow:
            0 2px 6px rgba(0,0,0,.4),
            inset 0 4px 8px rgba(0,0,0,.35);
    }

    .throw-bottle-icon-mobile {
        width: 75px;
        height: 75px;
    }
}

@media only screen and (max-width: 480px) {
    canvas {
        height: 100vh;
    }
}